* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3px;
}
.container {
    width: 85%;
    margin: 0 auto;
}
.above-the-fold { 
    padding: 50px 0;
    background-color: #F4F6F9;
    color: #333333;
    position: relative;
    height: 100vh;
}
.above-the-fold p {
    font-size: 18px;
    margin: 30px 0;
    letter-spacing: 3px;
    color: #4f4f4f;
}
.above-the-fold::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url('../img/Frame.svg');
    background-position-x: 250px;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    top: 0px;
    width: 100%;
}
.header__logo {
    margin: 50px 0;
}
.header__main-text {
    width: 450px;
}
.header__apps {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding-top: 20px;
}
/* media queries */
@media all and (max-width: 800px) {
    h1 {
        font-size: 30px;
        line-height: 132%;
    }
    .above-the-fold {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .above-the-fold::before {
        display: none;
    }
    .above-the-fold p {
        font-size: 16px;
        line-height: 144%;
    }
    .header__main-text {
        width: 100%;
    }
    .header__apps {
        width: 100%;
    }
}
/* finished first part */

.background-section {
    display: flex;
    height: 592px;
    position: relative;
}
.background-player-desktop {
    width: 100%;
    height: 100%;
    background-image: url('../img/match.png');
    background-repeat: no-repeat;
    background-position: -100px center;
    position: relative;
}
.background-player-desktop::after {
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(white 100%, white 20%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
}
.white-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}
.what-it-does__text h2 {
    margin: 20px 0;
    color: #00ADEE;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.what-it-does__text h3 {
    margin: 20px 0;
    font-weight: 700;
    color: #333333;
    font-size: 28px;
}
.what-it-does__text a {
    margin: 20px 0;
    text-decoration: none;
    color: #00ADEE;
    font-weight: 700;
    display: inline-block;
}
.images-container {
    margin: 100px 0;
}
.first, .second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.first {
    z-index: 3;
}
.second {
    z-index: 2;
    top: 55%;
    left: 62%;
}
@media all and (max-width: 800px) {
    .background-section {
        flex-direction: column-reverse;
        margin-top: 100px;
        height: 800px;
    }
    .what-it-does__text {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .images-container {
        margin: 0;
        /* height: 380px; */
    }
    .white-desktop {
        padding-top: 100px;
        height: 525px;
    }
}
@media all and (max-width: 500px) {
    .first {
        width: 300px;
    }
    .second {
        width: 300px;
    }
}
@media all and (max-width: 400px) {
    .first {
        width: 250px;
    }
    .second {
        width: 250px;
    }
    .header__apps img {
        width: 100px;
    }
}






































/* .background {
    height: 592px;
    position: relative;
    background-image: url('../img/match.png');
    background-repeat: no-repeat;
    background-position: -100px center;
}
.background::after {
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(white 100%, white 20%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
}
.wrapper {
    position: relative;
    display: flex;
}
.images-container {
    /* position: relative; */
    /* margin: 100px 0;
} */
/* .images-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
} */
/* .what-it-does .background .container {
    display: flex;
    justify-content: space-between;
}
.first {
    width: 430px;
    position: absolute;
    z-index: 3;
}
.second {
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 2;
}
.what-it-does__text {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    width: 40%;
    z-index: 2;
}
.what-it-does__text h2 {
    margin: 20px 0;
    color: #00ADEE;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.what-it-does__text h3 {
    margin: 20px 0;
    font-weight: 700;
    color: #333333;
    font-size: 28px;
}
.what-it-does__text a {
    margin: 20px 0;
    text-decoration: none;
    color: #00ADEE;
    font-weight: 700;
} */


    /* .what-it-does .background .container {
        flex-direction: column-reverse;
    }
    .background {
        background: none;
    }
    .what-it-does__text {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .first {
        width: 330px;
        left: -50px;
    }
    .second {
        width: 270px;
        left: 50px;
    }
    .images-container {
        margin: 0;
    }
} */